body {
  text-align: center;
  background-color: aquamarine;
  font-family: cursive;
  font-weight: bold;
}
h1 {
  text-align: center;
  color: black;
  font-weight: bold;
  font-style: italic;
  margin: 135px 0px 25px;
}
#clockdiv {
  font-family: fantasy;
  text-align: center;
  font-size: 55px;
  font-weight: 100;
  color: blue;
  display: inline-block;
}
#clockdiv > div {
  padding: 50px;
  border-radius: 7px;
  background: chartreuse;
  display: inline-block;
}
#clockdiv div > span {
  padding: 65px;
  border-radius: 5px;
  background: cornflowerblue;
  display: inline-block;
}
